:root {
    --cream: #fffcf1;
    --black: #222;
    --script: 'Sacramento', cursive;
    --plain: 'mulish', serif;
}

html {
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    font-family: var(--plain);
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

#menu {
    width: 100%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 10px;
    background: var(--cream);
    text-align: center;
    font-family: var(--script);
    font-size: 50px;
    box-shadow: 0px 0px 20px 0px#555;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#menu h1 {
    font-size: clamp(20px, 7vw, 50px);
}

#content {
    padding-top: 82px;
}

#blurb {
    background: var(--cream);
    width: clamp(300px, 50%, 700px);
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #666;
}

#categories {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    width: clamp(300px, 30%, 500px);
    font-size: 35px;
    font-family: var(--script);
    background-size: cover;
    position: relative;
    background-position: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 3px 0px #666;
}

.contentBox:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: black;
    border-radius: 20px;
    transition: opacity .5s;
}

.contentBox h3 {
    position: relative;
    padding: 20px;
    line-height: 50px;
}

.contentBox:hover::before {
    opacity: 0.3;
    transition: opacity .5s;
}

.button {
    width: 200px;
    height: 100px;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    color: black;
    border: solid black 2px;
}

.button:hover {
    opacity: 0.5;
}